body{
 font-family: Arial, Helvetica, sans-serif; 
 font-style:normal;
 font-size:14px;
 line-height: 150%;
}
h1{
 font-size:24px;
 display: inline;
}
div.container{ 
 margin: 15%;
 margin-top: 30; 
 margin-bottom: 0;
}
span {
 overflow: hidden; 
 white-space: nowrap;
}
a{ text-decoration: underline; }
.grey { background-color:#dddddd; }
p {
 font:15px/30px Helvetica;
 color: #000;
 text-align: left;
 line-height: 150%;
 margin: 10px 0 0 0;
}
.detail{
  margin: 0;
  background-color:#dddddd;
}
.row {
 width: 90%;
 margin: 0 auto;
 overflow: hidden;
}
